@import "./common.scss";

.campaign {
  color: var(--color-base);
  background-color: var(--color-main);

  .container {
    margin: auto;
    padding: 20px 40px 70px;
    max-width: var(--px-max-width);

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .required {
        color: yellow;
      }

      p {
        margin: 0;
      }

      fieldset {
        width: auto;

        .radio {
          label {
            display: block;
            position: relative;

            input[type="radio"] {
              &:checked {
                + span {
                  &::before {
                    background-color: var(--color-accent);
                  }
                }
              }

              &:focus-visible {
                + span {
                  &::before {
                    @extend .focus-indicator;
                  }
                }
              }
            }
            span {
              position: relative;
              margin-left: 0.5em;
              padding-left: 1.25em;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                display: inline-block;
                width: 0.7em;
                height: 0.7em;
                background-color: var(--color-base);
                border-radius: 50%;
                box-shadow: 0 0 0 0.3em var(--color-base);
                transform: translateY(-50%);
              }
            }
          }
        }

        input[type="text"] {
          width: 100%;
        }
      }

      button {
        display: block;
        width: fit-content;
        padding: 1em;
        font-weight: bold;
      }
    }
  }

  img {
    max-width: 300px;
  }
}
