html {
  color: var(--color-text);
  font-size: 18px;
  font-family: sans-serif;
  line-height: 2;
  background-color: var(--color-base-light);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}

h2 {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 0.5em;
  width: fit-content;
  color: var(--color-base);
  font-size: 2.5rem;
  font-style: italic;
  font-family: sans-serif;
  background-color: var(--color-main);

  span {
    font-size: 0.5em;
  }
}

.focus-indicator {
  outline: 2px solid var(--color-accent);
  outline-offset: 4px;
  box-shadow: 0 0 0 8px var(--color-base);
}

// normalize.cssを上書きするためbuttonを個別に指定する
*,
button[type="button"] {
  &:focus-visible {
    @extend .focus-indicator;
  }
}

// https://waic.jp/translations/WCAG21/Techniques/css/C7
.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
