html {
  color: var(--color-text);
  font-size: 18px;
  font-family: sans-serif;
  line-height: 2;
  background-color: var(--color-base-light);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}

h2 {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 0.5em;
  width: fit-content;
  color: var(--color-accent);
  font-size: 2.5rem;
  font-style: italic;
  font-family: sans-serif;
  background-color: var(--color-main);

  span {
    font-size: 0.5em;
  }
}
