.service {
  background: url("../assets/wireframe.jpg");
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding: 20px 40px 70px;
    max-width: var(--px-max-width);

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 700px;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        position: relative;
        display: block;
        padding: 10px 50px 10px 20px;
        max-width: 500px;
        text-decoration: none;
        background-color: var(--color-base);
        &:hover {
          color: var(--color-base);
          background-color: var(--color-accent);

          p {
            color: var(--color-base);
          }
        }

        span {
          font-size: 2em;
          font-weight: bold;
        }

        p {
          display: inline-block;
          margin: 0.5em 0;
          color: var(--color-text);
        }

        img {
          position: absolute;
          right: 10px;
          bottom: 10px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
